<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd
	 http://www.springframework.org/schema/tx 
	 http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	

	<bean id="peopleServiceWs" class="com.github.cxfplus.client.factory.JaxWsProxyBeanFactory"
		p:url="http://localhost:8080/cxf-plus/ws/PeopleService" p:serviceInterface="com.github.cxfplus.jaxrs.PeopleService" />
		
	<bean id="helloServiceWs" class="com.github.cxfplus.client.factory.JaxWsProxyBeanFactory"
		p:url="http://localhost:8080/cxf-plus/ws/HelloService" p:serviceInterface="com.github.cxfplus.jaxws.HelloService" />
		
	<bean id="peopleService" class="com.github.cxfplus.client.factory.JaxRsProxyBeanFactory"
		p:url="http://localhost:8080/cxf-plus/ws/rest" p:serviceInterface="com.github.cxfplus.jaxrs.PeopleService" />
	
	<bean id="peopleServiceXml" class="com.github.cxfplus.client.factory.JaxRsProxyBeanFactory"
		p:url="http://localhost:8080/cxf-plus/ws/rest" p:serviceInterface="com.github.cxfplus.jaxrs.PeopleServiceXml" />
		
	<bean id="helloService" class="com.github.cxfplus.client.factory.JaxRsProxyBeanFactory"
		p:url="http://localhost:8080/cxf-plus/ws/rest" p:serviceInterface="com.github.cxfplus.jaxws.HelloService" />
		

	


	
</beans> 